@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Creepster');


body {
	overflow-x: hidden;
  overflow-y: scroll;
	font-family: "Josefin Sans";	
	
}

#aboutText {
	text-align: left;
	justify-content: center;
	width: 42%;
	display: inline-block;
	margin-top: 50px;
}

#contactText {
	text-align: center;
	justify-content: center;
	width: 100%;
	display: inline-block;
	margin-top: 20px;
}

#aboutPic {
	display: block;
	margin-left: 10%;
	margin-right: 30px;
	float: left;
	margin-top: 10px;
	
}

#contactPic {
	display: block;
	margin: auto;
	background-color: #2C2D33;
	
}


#entryInput {
	height: 105px;
	width: 200px;
}

p {
	font-size: 18px;
	
}

#wrapper {
	margin: 0 auto;
	max-width: 100%;
	width: 98%;
	
}

header {
	min-height: 50px;
	padding: 5px;
	font-family: "Josefin Sans";
}

#nav {
	text-align: center;
	margin-top: -45px;
	text-transform: uppercase;
}
#nav li {
	display: inline;
}

#nav a {
	text-decoration: none; 
	padding:0 30px;
	color: black;
}


#nav a:active, #nav a:focus, #nav a:hover {
	color: #bd615e; 
}

#nav #current {
	color: #bd615e;
}

.mySlides {
  top: 5;
  z-index: -1;
	opacity: 1;
}

.slidePics {
	width: 1350px;
	height: 740px;
	position: absolute;
	border-radius: 4px;
	padding: 40px 0;
	margin-left: 4%;
}

.centered {
	text-decoration: none;
	position: absolute;
	top: 126%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: "Creepster";
	font-size: 35px;
}

.amal {
	text-decoration: none; 
	color: #F07D19;
}

.amal:hover {
	opacity: 0.5;
}

#arrowDown {
  position: absolute;
  bottom: 120%;
  left: 50%;
	font-size: 24px;
}

h1 {
	margin-top: 3%;
	text-align: center;
	font-family: "Creepster"
}

iframe {
	margin-left: 40%;
}

table {
    width: 100%;
    text-align: center;
    display: inline-table;
    border-collapse: collapse;
    
}

table, th, td {
    border: 1px solid black;
   
}

td {
    padding: 10px;
}

th {
    height: 40px;
    background-color: #BD615E;
    font-size: 18px;
}

.fa {
  padding: 10px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook, .fa-instagram {
  color: white;
}

.footer {
	margin-top: 10%;
	padding-top: 5px;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #bd615e;
	color: white;
	text-align: center;
	opacity: 0.7;
}

.mailto:hover {
	opacity: 0.5;
}